button{
    background-color: #e50914;
    color: whitesmoke;
}

button:hover{
    background-color: #85070d;
    color: rgb(192, 192, 192);
}

.largeposter{
    height: 300px;
}

.rowposter{
    align-items: center;
    justify-content: center;
}