<div class="contain-fluid mt-5">
        <form [formGroup]="buscador" (ngSubmit)="submitForm()">
            <div class="row">
                <div class="mb-3 col-lg-10">
                    <input type="text" class="form-control" 
                    formControlName="peliNombre"
                    placeholder="Buscador ...">
                </div>

                <div class="col-lg-2">
                    <button class="btn btn-md"> Buscar </button>
                </div>
            </div>
        </form>

</div>
