<div class="container-fluid mt-5">
    <form [formGroup]="buscador" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="peliNombre" placeholder="Buscador ...">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-md"> Buscar </button>
            </div>
        </div>
    </form>

    <div class="container mt-3 p-2">
        <div class="row">
            <h5 class="text-white"> Resultados búsqueda: </h5>
            <div class="row rowposter">
                <ng-container *ngFor="let r of buscadorResultados; let i = index">
                    <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                        <img src="https://image.tmdb.org/t/p/original/{{ r.poster_path }}" 
                            [routerLink]="['/movie', r.id]"
                            class="rowimg largeposter">
                        <h6 class="text-white mt-2"> {{r.title}} </h6>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>



