<!-- registro.component.html -->
<form [formGroup]="myForm" class="netflix-form">
  <div class="form-group">
    <label for="username">Nombre de usuario</label>
    <input formControlName="username" type="text" class="form-control"/>
    <p *ngIf="myForm.get('username')!.touched && myForm.get('username')!.hasError('required')" class="error-message">El campo es obligatorio</p>
  </div>

  <div class="form-group">
    <label for="password1">Contraseña</label>
    <input formControlName="password1" type="password" class="form-control"/>
    <p *ngIf="myForm.get('password1')!.touched && myForm.get('password1')!.hasError('required')" class="error-message">El campo es obligatorio</p>
  </div>

  <div class="form-group">
    <label for="password2">Confirmar Contraseña</label>
    <input formControlName="password2" type="password" class="form-control"/>
    <p *ngIf="myForm.get('password2')!.touched && myForm.get('password2')!.hasError('required')" class="error-message">El campo es obligatorio</p>
    <p *ngIf="myForm.hasError('passwordMismatch')" class="error-message">Las contraseñas no coinciden</p>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control"/>
    <p *ngIf="myForm.get('email')!.touched && myForm.get('email')!.hasError('required')" class="error-message">El campo es obligatorio</p>
    <p *ngIf="myForm.get('email')!.hasError('email')" class="error-message">Ingresa un email válido</p>
  </div>

  <div class="form-group">
    <label for="rol">Rol</label>
    <input formControlName="rol" type="text" class="form-control"/>
    <p *ngIf="myForm.get('rol')!.touched && myForm.get('rol')!.hasError('required')" class="error-message">El campo es obligatorio</p>
  </div>

  <div class="form-group">
    <label for="edad">Edad</label>
    <input formControlName="edad" type="number" class="form-control"/>
    <p *ngIf="myForm.get('edad')!.touched && myForm.get('edad')!.hasError('required')" class="error-message">El campo es obligatorio</p>
    <p *ngIf="myForm.get('edad')!.hasError('min')" class="error-message">La edad no puede ser menor a 0</p>
    <p *ngIf="myForm.get('edad')!.hasError('max')" class="error-message">La edad no puede ser mayor a 105</p>
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <input formControlName="sexo" type="text" class="form-control"/>
    <p *ngIf="myForm.get('sexo')!.touched && myForm.get('sexo')!.hasError('required')" class="error-message">El campo es obligatorio</p>
  </div>

  <button (click)="saveData()" class="btn btn-red">Registro</button>
</form>

