h1 { 
    font-weight: bold; 
    color: #E50814;
}

.navbar{
    padding: 0%;
}

.container-fluid{
    background-color: black;
}

.nav-link{
    color: white;
}

.navbar-toggler-icon .navbar-toggler{
    color: green;
}