h1 { 
    font-weight: bold; 
    color: #E50814;
}

.navbar{
    padding: 0%;
}

.container-fluid{
    background-color: rgb(12, 12, 12);
}

.nav-link{
    color: #ff2c36;
}

.nav-link:hover{
    color: #85070d;
}

.navbar-toggler{
    color: grey;
}
