.carrusel-inner{
    height: 600px;
}

.carrusel-inner .carrusel-item img{
    height: 700px;
    object-fit: cover;
}

.carrusel-caption h2{
    color: #E50814;
    font-weight: bold;
}

.carrusel-caption p {
    color: whitesmoke;
}

