<!-- CARRUSEL -->
<div class='contain-fluid'>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let p of bannerPelis; let i=index" [ngClass]="{active:i===1}">
            <img src="https://image.tmdb.org/t/p/original/{{ p.backdrop_path }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>{{ p.original_title}}</h1>
                <p>{{ p.overview }}</p>
            </div>
            </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
<!-- CARRUSEL -->


<!-- CARRUSEL -->
<div class="container mt-3 p-2">
    <div class="row">
        <h5 class="text-white"> Trending Pelis</h5>
        <div class="rowposter">
            <ng-container *ngFor="let t of trendingPelis">
                <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter">
            </ng-container>
            

        </div>
    </div>
</div>
<!-- CARRUSEL -->
