.carrusel-inner{
    height: 600px;
}

.carrusel-inner .carrusel-item img{
    height: 700px;
    object-fit: cover;
}

h1{
    color: #E50814;
    font-weight: bold;
    font-size: 35px;
}

.carrusel-caption p {
    color: whitesmoke;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

}

.rowimg{
    
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 400ms;
}

.rowimg:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.largeposter{
    max-height: 400px;
}

.rowposter::-webkit-scrollbar{
    display: none;
}