<div class="container">
  <div class="movie-details">
    <img src="https://image.tmdb.org/t/p/original/{{ getDetallesPeli.backdrop_path }}" class="d-block w-100" alt="...">
    <h1 class="movie-title">{{ getDetallesPeli.title }}</h1>
    <p class="movie-description">{{ getDetallesPeli.overview }}</p>
    <div class="movie-info">
      <p><strong>Fecha de Lanzamiento:</strong> {{ getDetallesPeli.release_date }}</p>
      <p><strong>Calificación:</strong> {{ getDetallesPeli.vote_average }} </p>
      
      <p><strong>Géneros:</strong>
        <span class="movie-genres">
          <ng-container *ngFor="let genre of getDetallesPeli.genres; let last = last">
            {{ genre.name }}{{ last ? '.' : ', ' }}
          </ng-container>
        </span>
      </p>
      <a class="btn btn-md" href="https://www.themoviedb.org/video/play?key={{getVideoPeli.key}}" target="_blank">Ver Trailer</a>

      <div class="mt-4 p-4">
        <h2 class="text-white">Actores de reparto</h2>
        <div class="row mt-2 mb-2">
        <div class="col-lg-6 mt-3" *ngFor="let r of getRepartoPeli">
          
            <div class="col-lg-6" *ngIf="!r.profile_path; else fotopordefecto">
              <img src="https://dummyimage.com/600x900/4d4d4d/fff&text={{r.name}}" class="d-block w-100" alt="...">
            </div>

            <ng-template #fotopordefecto>
              <div class="col-lg-6">.
                <img src="https://image.tmdb.org/t/p/original/{{ r.profile_path }}" class="d-block w-100" alt="...">
              </div>
            </ng-template>

            <div class="col-lg-6">
              <h3 class="text-white">{{r.name}}</h3>
              <h6 class="text-white">Interpretando a: <br> {{r.character}}</h6>
            </div>

          </div>

        </div>
        
      </div>
    </div>
    
  </div>
</div>

