.container {
    padding: 50px;
  }

  .movie-details {
    
    margin: 0 auto;
    color: white;
  }

  .movie-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color:#e50914;
  }

  .movie-description {
    margin-bottom: 20px;
  }

  .movie-info {
    margin-bottom: 20px;
  }

  .movie-genres {
    font-style: italic;
  }

  a{
    background-color:  #e50914;
    color: white;
    text-decoration: none;
  }

  a:hover{
    background-color: #85070d;
  }